name: Resuable brakeman workflow

on: workflow_call

jobs:
  brakeman:
    name: scan
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #--v5.0.0
    - name: Set up ruby # this should inherit from your .ruby-version
      uses: ruby/setup-ruby@80740b3b13bf9857e28854481ca95a84e78a2bdf #--v1.284.0
    - name: Setup Brakeman
      run: |
        gem install brakeman
    # Execute Brakeman CLI and generate a SARIF output with the security issues identified during the analysis
    - name: Scan
      continue-on-error: true
      run: |
        brakeman -f sarif -o output.sarif.json .
    # Upload the SARIF file generated in the previous step
    - name: Upload SARIF
      uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e #--v4.32.4
      with:
        sarif_file: output.sarif.json
