name: Resuable brakeman workflow

on: workflow_call

jobs:
  brakeman:
    name: scan
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #--v5.0.0
    - name: Set up ruby # this should inherit from your .ruby-version
      uses: ruby/setup-ruby@4fc31e1c823882afd7ef55985266a526c589de90 #--v1.282.0
    - name: Setup Brakeman
      run: |
        gem install brakeman
    # Execute Brakeman CLI and generate a SARIF output with the security issues identified during the analysis
    - name: Scan
      continue-on-error: true
      run: |
        brakeman -f sarif -o output.sarif.json .
    # Upload the SARIF file generated in the previous step
    - name: Upload SARIF
      uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 #--v4.31.10
      with:
        sarif_file: output.sarif.json
