name: Resuable brakeman workflow

on: workflow_call

jobs:
  brakeman:
    name: scan
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #--v6.0.1
    - name: Set up ruby # this should inherit from your .ruby-version
      uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 #--v1.267.0
    - name: Setup Brakeman
      run: |
        gem install brakeman
    # Execute Brakeman CLI and generate a SARIF output with the security issues identified during the analysis
    - name: Scan
      continue-on-error: true
      run: |
        brakeman -f sarif -o output.sarif.json .
    # Upload the SARIF file generated in the previous step
    - name: Upload SARIF
      uses: github/codeql-action/upload-sarif@4e94bd11f71e507f7f87df81788dff88d1dacbfb #--v4.31.0
      with:
        sarif_file: output.sarif.json
