#--Local workflow for this repo only. Not for remote consumption!

on:
  pull_request:
    types: [ opened, edited, reopened, synchronize ]

jobs:
  format-code:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #--v6.0.1
    - uses: ministryofjustice/github-actions/code-formatter@db1a54895bf5fb975c60af47e5a3aab96505ca3e #--v18.6.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  secret_detection:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #--v6.0.1
        with:
          fetch-depth: 0

      - name: Secret Detection
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/secret-detection@main