#--Local workflow for this repo only. Not for remote consumption!

on:
  pull_request:
    types: [ opened, edited, reopened, synchronize ]

jobs:
  format-code:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #--v5.0.0
    - uses: ministryofjustice/github-actions/code-formatter@9c552c078797be58222f42f311cdf52c5fabd9ee #--v19.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  secret_detection:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #--v5.0.0
        with:
          fetch-depth: 0

      - name: Secret Detection
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/secret-detection@main