name: Resuable rspec workflow

on: workflow_call

jobs:
  rspec:
    name: scan
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:10.11
        ports: [ "5432:5432" ]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - name: Install libffi6
      run: |
        wget http://mirrors.kernel.org/ubuntu/pool/main/libf/libffi/libffi6_3.2.1-8_amd64.deb
        sudo apt install ./libffi6_3.2.1-8_amd64.deb
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #--v5.0.0
    - name: Set up ruby
      # this should inherit from your .ruby-version
      uses: ruby/setup-ruby@ab177d40ee5483edb974554986f56b33477e21d0 #--v1.265.0
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #--4.3.0
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Bundle install
      run: |
        gem install bundler
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
    - name: Configure database
      env:
        PGHOST: localhost
        PGUSER: postgres
        RAILS_ENV: test
        SECRET_KEY_BASE: ${{ secrets.SECRET_KEY_BASE }}
        ENCRYPTION_SERVICE_SALT: ${{ secrets.ENCRYPTION_SERVICE_SALT_FOR_RSPEC }}
      run: |
        bundle exec rake db:create db:schema:load
    - name: Run Tests
      env:
        PGHOST: localhost
        PGUSER: postgres
        RAILS_ENV: test
      run: |
        bundle exec rspec
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #--5.0.0
      if: failure()
      with:
        name: coverage-report
        path: coverage
