name: Resuable rubocop workflow

on:
  workflow_call:
    secrets:
      token:
        required: false

jobs:
  rubocop:
    name: scan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #--v6.0.2
    - name: Set up ruby
      # this should inherit from your .ruby-version
      uses: ruby/setup-ruby@80740b3b13bf9857e28854481ca95a84e78a2bdf #--v1.284.0
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #--4.3.0
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Bundle install
      run: |
        gem install bundler
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
    - name: Run rubocop
      env:
        RAILS_ENV: test
      run: |
        bundle exec rubocop
