name: Resuable rubocop workflow

on:
  workflow_call:
    secrets:
      token:
        required: false

jobs:
  rubocop:
    name: scan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #--v5.0.0
    - name: Set up ruby
      # this should inherit from your .ruby-version
      uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c #--v1.269.0
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #--4.3.0
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Bundle install
      run: |
        gem install bundler
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
    - name: Run rubocop
      env:
        RAILS_ENV: test
      run: |
        bundle exec rubocop
