name: Resuable rubocop workflow

on:
  workflow_call:
    secrets:
      token:
        required: false

jobs:
  rubocop:
    name: scan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #--v5.0.0
    - name: Set up ruby
      # this should inherit from your .ruby-version
      uses: ruby/setup-ruby@4fc31e1c823882afd7ef55985266a526c589de90 #--v1.282.0
    - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb #--5.0.1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Bundle install
      run: |
        gem install bundler
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
    - name: Run rubocop
      env:
        RAILS_ENV: test
      run: |
        bundle exec rubocop
