name: Reusable Snyk Docker Image Scan

on:
  workflow_call:
    inputs:
      tag:
        description: "Label to tag the docker image with"
        required: true
        type: string
      dockerfile_path:
        description: Path to dockerfile
        required: false
        type: string
        default: Dockerfile #--Dockerfile in current working directory
    secrets:
      snyk_token:
        description: "Snyk service account API token"
        required: true

jobs:
  snyk:
    name: Scan docker image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #--v6.0.1

    - name: Build docker image
      run: |
        docker build \
          --tag ${{ inputs.tag }}:scan \
          --file ${{ inputs.dockerfile_path }} .

    - name: Scan docker image using Snyk
      continue-on-error: true
      uses: snyk/actions/docker@master
      env:
        SNYK_TOKEN: ${{ secrets.snyk_token }}
      with:
        image: ${{ inputs.tag }}:scan
        args: --file=${{ inputs.dockerfile_path }}

    - name: Monitor docker image using Snyk
      uses: snyk/actions/docker@master
      env:
        SNYK_TOKEN: ${{ secrets.snyk_token }}
      with:
        command: monitor
        image: ${{ inputs.tag }}:scan
        args: --file=Dockerfile

    - name: Replace security-severity "null" for license-related findings 
      run: |
        sed -i 's/"security-severity": "null"/"security-severity": "0"/g' snyk.sarif

    - name: Replace security-severity "undefined" for license-related findings 
      run: |
        sed -i 's/"security-severity": "undefined"/"security-severity": "0"/g' snyk.sarif

    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@4e94bd11f71e507f7f87df81788dff88d1dacbfb #--v4.31.0
      with:
        sarif_file: snyk.sarif
